@model BevPort.Models.ContactUs
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>BevPort - Coming Soon</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <style>
            video {
                width: 100%;
                height: auto;
            }
            .maillogin-bloxk {
                text-align: center;
            }
        </style>
    </head>
    <body>
    <div id="cover-spin"></div>
    @ViewBag.Thankyou;
        <img class="bg-video" src="assets/img/mybeer.jpg" />
        <div class="masthead">
            <div class="masthead-content text-white">
                <div class="container px-4 px-lg-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="maillogin-bloxk">
                                <div class="heade-logo"><img src="assets/img/logo.png" /></div>
                                <p class="mb-5">About to change the Beverage Industry.</p>
                            <h1 class="fst-italic lh-1 mb-4">Coming Fall of 2023</h1>
                            </div>                            
                        </div>
                    &nbsp;&nbsp;
                        </div>
                <div class="row">
                        <div class="col-md-12">
                        <div class="videoshre" style="max-width:1150px;margin:auto" >
                                <video width="320" height="240" controls poster="assets/img/bevport-poster.png">
                                <source src="https://www.zoeblueprint.com/assets/bevport.mp4" type="video/mp4">.
                            </video>
                        </div>
                    </div>
                    </div>
                &nbsp;&nbsp;
                <div class="contact-form-area">
                    <h2 class="inner-main-heading-content">Join the Revolution</h2>
                    <p class="content-para">Come join the BevPort revolution and change the beer industry forever.</p>
                    <p class="content-para"> Share your contact information and once we are ready to launch, someone from our team will reach out to you and get you onboarded. We are excite to have you join BevPort.</p>
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="FIRSTNAME">First Name <span class="red-tick">*</span></label>
                                <input asp-for="FIRSTNAME" type="text" class="form-control" placeholder="" name="FIRSTNAME" oninput="ValidateFName()" onkeypress="ValidateFName()">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LASTNAME">Last Name <span class="red-tick">*</span></label>
                                <input asp-for="LASTNAME" type="text" class="form-control" placeholder="" name="LASTNAME" oninput="ValidateLName()" onkeypress="ValidateLName()">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="EMAILID">Email <span class="red-tick">*</span></label>
                                <input asp-for="EMAILID" type="text" class="form-control" id="EMAILID" name="EMAILID" placeholder="" oninput="ValidateEmail()" onkeypress="ValidateEmail()">
                            </div>



                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="PHONENUMBER">Mobile Number <span class="red-tick">*</span></label>
                                <input asp-for="PHONENUMBER" id="PHONENUMBER" type="text" class="phoneNumber form-control" name="PHONENUMBER" placeholder="" oninput="RemoveMessagePhone()" onchange="ValidatePhoneNo()" name="PHONENUMBER" onkeyup="ValidatePhoneNo()" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="TITLE">Title <span class="red-tick">*</span></label>
                                <input asp-for="TITLE" type="text" class="form-control" name="TITLE" placeholder="" oninput="ValidateTitle()" onkeypress="ValidateTitle()">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="COMPANYNAME">Company Name <span class="red-tick">*</span></label>
                                <input asp-for="COMPANYNAME" type="text" class="form-control" name="COMPANYNAME" placeholder="" oninput="ValidateCompanyName()" onkeypress="ValidateCompanyName()">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="email">Let us know if you have any questions</label>
                                <span class="red-tick">*</span>
                                <textarea for="Content" id="Content" name="Content" rows="3" class="form-control" oninput="ValidateContent()" onkeypress="ValidateContent()" required=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-btns">
                                <button id="ContactUs" name="save" class="btn btn-default" onclick="SaveContactUs();">Sign up Now!</button>
                                <br />
                            </div>
                        </div>
                    </div>

                </div>
                    
                </div>
            </div>
        </div>
	  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>
       
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
<script src="~/js/contactus.js"></script>
